<!DOCTYPE html>
<html>
  <head>
    <title>ADD Project Page</title>

    {{!-- <script src="project.js"></script> --}}

    <link rel="stylesheet" href="../public/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body style="background-color: gainsboro">
    <nav>
      <div class="nav-left">
        <img src="public/assets/logo.png" style="width: 40px" alt="logo" />

        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/myProject">My Project</a>
          </li>
        </ul>
      </div>

      <div class="nav-right">
        <a href="/contact">Contact</a>
      </div>
    </nav>

    <!-- Form Input New Project -->
    {{!--  onsubmit="addProject(event) = untuk JS  --}}
    <form class="form-input"  method="POST" action="/edit-project/{{id}}" enctype="multipart/form-data" >
      <div>
        <h2 style="text-align: center">UPDATE PROJECT</h2>
        <label style="font-weight: bold; font-size: 20px" for="input-tittle"
          >Tittle</label
        >
        <input type="text" value="{{update.name}}" id="inputTittle" name="inputTittle"/>
      </div>

      <div class="myProject" style="display: flex; gap: 50px">
        <div style="margin-top: 15px">
          <label for="input-email" style="font-weight: bold; font-size: 20px"
            >Start Date
          </label>
          <input type="date" id="inputStartDate" name="inputStartDate"  value="{{update.start_date}}" />
        </div>

        <div style="margin-top: 15px">
          <label for="inputEndDate" style="font-weight: bold; font-size: 20px"
            >End Date</label
          >
          <input type="date"  id="inputEndDate" name="inputEndDate" value="{{update.end_date}}" />
        </div>
      </div>

      <div class="myProject">
        <label for="inputDesc" style="font-weight: bold; font-size: 20px"
          >Description</label
        >
        <textarea id="inputDesc"  name="inputDesc">{{update.description}} </textarea>
      </div>

      <div class="myProject">
        <label for="input-message" style="font-weight: bold; font-size: 20px"
          >Technologies</label
        >
        <br />

        <div class="input-skill">
          <!-- div left -->
          <div style="width: 100%">
            <input  type="checkbox" id="inputJavaScript" name="js" value="fa-brands fa-js"
            {{#if this.js}} 
            checked 
            {{/if}} />
            <label>Java Script</label> <br />

            <input type="checkbox" id="inputJava" name="java" value="fa-brands fa-java"
            {{#if this.java}} 
            checked 
            {{/if}} />
            <label>JAVA</label><br />
          </div>
          <!-- div right -->
          <div style="width: 100%">
            <input type="checkbox" id="inputHtml" name="html" value="fa-brands fa-html5" 
            {{#if this.html}} 
            checked 
            {{/if}} />
            <label> HTML 5 </label><br />
            <input type="checkbox" id="inputAndroid" name="android" value="fa-brands fa-android"
            {{#if this.android}} 
            checked 
            {{/if}} />
            <label> Android</label>
          </div>
        </div>
      </div>
      
      <div class="myProject">
        <label for="image" style="font-weight: bold; font-size: 20px"
          >Upload image</label>
          <div>
            <img src="{{update.image}}" 
            alt="inputImage"
            style="width: 250px;"
            >
          </div>
        <div class="input-file">
          <label for="inputImage" style="cursor:pointer">
            <p>CHOOSE</p>
            <i class="fa-solid fa-paperclip"></i>
          </label>
          <input type="file" id="inputImage" name="inputImage"  hidden />
        </div>
      </div>
      <button style="cursor:pointer" type="submit" >Submit</button>
    </form>
    <!-- End Of New Project Input -->

  </body>
</html>
