
<!DOCTYPE html>
<html>
  <head>
    <title>Detail Project</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="stylesheet" href="../public/styleViewProject.css">
  </head>
  <body style="background-color: gainsboro;">
    <!-- Navigasi -->
    <nav>

        <div class="nav-left">
            <img src="../public/assets/logo.png" alt="logo" style="width: 40px;">

            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/myProject">My Project</a>
                </li>
            </ul>
        </div>

        <div class="nav-right">
            <a href="/contact">Contact</a>
        </div>

    </nav>
    <!-- End Navigasi -->

    <!-- Detail Project Section -->
    <div class="detail-project-section">
      <h1>{{blog.name}}</h1>
      <!-- Detail -->
      <div class="div-detail">
        <!-- Left -->
        <div class="detail-left">
          <img src="/uploads/{{blog.image}}" alt="Project Image" />
        </div>
        <!-- End Left -->

        <!-- Right -->
        <div class="detail-right">
          <div class="detail-duration">
            <p style="font-weight: bold">Duration</p>
            <p><i class="bx bx-calendar"></i> 21 Maret 2021 - 21 Juni 2021</p>
            <p><i class="bx bx-hourglass"></i> {{blog.duration}}</p>
          </div>

          <p style="font-weight: bold; margin: 40px 0px 0px 0px">
            Technologies
          </p>
          
          <div class="detail-techno">
        
            <i class="{{blog.js}}">{{blog.namajs}}</i>
            <i class="{{blog.java}}">{{blog.namajava}}</i>
            <i class="{{blog.html}}">{{blog.namahtml}}</i>
            <i class="{{blog.android}}">{{blog.namaandroid}}</i>

         
          </div>
        </div>
        <!-- End Right -->
      </div>
      <!-- End Detail -->

      <!-- Description -->
      <div class="detail-description">
        <p>
         {{blog.description}}
        </p>
      </div>
      <!-- End Description -->
    </div>
    <!-- End Detail Project Section -->

    <!-- Javascript -->
    <!-- End Javascript -->
  </body>
</html>
